[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/vkb"]
	path = lib/vkb
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
